html {
  background: #fff;
  color: #333;
  font-size: 1.5vh;
  font-family: neue-haas-grotesk-text, 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

.page {
  margin: 1em;
  padding: 0;
}

article, .submenu {
  font-size: 1.75em;
  font-weight: 400;
}

article.text {
  font-size: 1em;
  font-weight: 400;
}

header {
  padding-bottom: 2em;
  font-size: 1.5em;
}

.menu {
  font-size: 1.5em;
  font-weight: 500;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; /* Can be changed in the live sample */
}
.menu a {
  margin-bottom: 0.75em;
}

.overline {
  font-size: 1.5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; /* Can be changed in the live sample */
  padding-bottom: 0.5em;
}
.overline a:not(:last-child) {
  padding-right: 0.5em;
}
.overline a:not(:first-child) {
  padding-left: 0.5em;
}
.overline2 {
  font-size: 1.25em;
  color: #ccc;
}

.overline2 a {
  padding: 0;
}
.overline2 a:first-child {
  padding-left: 0;
}





.page header #title {
  font-size: 2em;
  padding-top: 0.5em;
}

.page header #title_jp {
  /* writing-mode: vertical-rl; */
}

h1 {
  font-size: 5em;
  font-weight: 500;
  text-align: center;
}









.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.gray {
  color: #666;
}


a, a:visited {
  color: #33f;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #fff;
  background: #33f;
  text-decoration: none;
}
a:active {
  color: #fff;
  background: #f0f;
  text-decoration: none;
}
/*
article a, article a:visited {
  color: #33f;
  text-decoration: none;
  cursor: pointer;
}
article a:hover {
  color: #fff;
  background: #33f;
  text-decoration: none;
}
article a:active {
  color: #fff;
  background: #33f;
  text-decoration: none;
}
*/
/*
#title a {
  color: #33f;
  text-decoration: underline;
}
#title a:hover {
  color: #33f;
  text-decoration: underline;
}
#title a:active {
  color: #fff;
  background: #33f;
  text-decoration: underline;
}
*/

sup {
  /* font-weight: 700; */
}
.sel {
  color: white;
  background: #00f;
}
/*
::selection {
  color: white;
  background: linear-gradient(#aaa, #ccc);
}
*/

::selection {
  color: white;
  background: black;
}

footer {
  padding-top: 10em;
  font-size: 1.5em;
  clear: both;
  color: #ccc;
}

footer #copyright {
  text-align: center;
}

select {
  border: none;
  color:  #33f;
  text-decoration: underline;
  font-weight: 500;
}

.select {
  border: none;
}






figcaption, .byline {
  font-size: 0.75em;
  font-weight: 400;
  text-align: center;
  padding-bottom: 1em;
}
.center {
  text-align: center;
}

table {
  width: 100%;
  font-size: 1.25em;
  font-weight: 500;
  border: 1px solid black;
  border-collapse: collapse;
}
tr, td {
  border: 1px solid black;
  padding: 0.25em;
}
.center {
  text-align: center;
}

article {
  width: 75%;
  float: left;
}

article.home {
  width: 100%;
  float: none;
}


.submenu {
  width: 23%;
  float: right;

}

@media only screen and (max-width: 768px) {
  article, .submenu {
    width: 100%;
    float: none;
  }
}




.submenu a.submenu2::before {
   /** content: "⇣ "; **/
}

.submenu {
  word-break: break-all;
}

.submenu a.submenu1, .submenu a.submenu2 {
  word-break: break-all;
  font-weight: 700;
  line-height: 1.5em;
  font-size: 1em;
  margin-left: 0em;
}

.submenu a.submenu3, .submenu a.submenu4 {
  word-break: break-all;
  font-weight: 500;
  line-height: 0.9em;
  font-size: 0.8em;
  margin-left: 1em;
}

.submenu a.submenu4, .submenu a.submenu5, .submenu a.submenu6 {
  word-break: break-all;
  font-weight: 400;
  line-height: 0.9em;
  font-size: 0.8em;
  margin-left: 2em;
}


.assignment {
  line-height: 1em;
  font-size: 0.5em;
}



/*
a:target {
}
a:target:before {
   content: "_";
}
a:not([href]), a:not([href]):visited, a:not([href]):hover, a:not([href]):active {
  color: black;
  background: white;
  text-decoration: none;
  cursor: none;
}
*/




article img {
  width: 98%;
  margin: 2px 0;
}

article img.medium {
  width: 75%;
}

article img.small {
  width: 49%;
}
article img.smaller {
  width: 32%;
}
article img.mini {
  width: 24.5%;
}




.error {
  background: #f00;
  color: #fff;
}

.yellow {
  background: #ff0;
}

.blue {
  background: #00f;
  color: #FFF;
}

blockquote {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 0.75em;
}

aside {
  background: #00f;
  color: #fff;
  font-weight: 500;
  margin: 10em 0;
  padding: 1em;
  font-size: 1em;
  /* border: 1px solid #333; */
}

aside:before {
}

aside.danger {
  background: #f00;
}

aside.problem {
  color: #f0f;
  font-weight: 400;
  margin: 3em 0;
  padding: 1em;
  background: #fff;
  border-radius: 2em;
  border: 0.5em solid #f0f;
}

aside.problem:before  {
  content: "PROBLEM: ";
}

aside.challenge {
  color: #ff0;
  font-weight: 400;
  margin: 3em 0;
  padding: 1em;
  background: #333;
  border-radius: 2em;
  border: 0.5em solid #ff0;
}

aside.challenge:before  {
  content: "CHALLENGE: ";
}




aside.failure {
  background: #f70;
}

aside.failure:before  {

}



/*
aside:before {
   content: "🔎📌⚠️🎶㊙️🉐🈚️㊗️🆘💯💡🌊";
}

aside::first-letter {
  font-size: 2em;
}
*/

/*

.index a, .index a:visited {
  color: #0392DC;
  text-decoration: none;
  cursor: pointer;
}

.index a:hover {
  color: #fff;
  background: #0392DC;
  text-decoration: none;
}
.index a:active {
  color: #fff;
  background: #0392DC;
  text-decoration: none;
}
*/

table {
  font-size: 0.9em;
  font-weight: 400;
}
